.has-float-label{display:block;position:relative}.has-float-label label,.has-float-label>span{position:absolute;cursor:text;font-size:75%;opacity:1;-webkit-transition:all .2s;transition:all .2s;top:-.5em;left:12px;z-index:3;line-height:1;padding:0 1px}.has-float-label label::after,.has-float-label>span::after{content:" ";display:block;position:absolute;background:#fff;height:2px;top:50%;left:-.2em;right:-.2em;z-index:-1}.has-float-label .form-control::-webkit-input-placeholder{opacity:1;-webkit-transition:all .2s;transition:all .2s}.has-float-label .form-control::-moz-placeholder{opacity:1;transition:all .2s}.has-float-label .form-control:-ms-input-placeholder{opacity:1;transition:all .2s}.has-float-label .form-control::placeholder{opacity:1;-webkit-transition:all .2s;transition:all .2s}.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder{opacity:0}.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder{opacity:0}.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder{opacity:0}.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder{opacity:0}.has-float-label .form-control:placeholder-shown:not(:focus)+*{font-size:100%;opacity:.5;top:.7em;font-weight:50}.input-group .has-float-label{display:table-cell}.input-group .has-float-label .form-control{border-radius:4px}.input-group .has-float-label:not(:last-child) .form-control{border-bottom-right-radius:0;border-top-right-radius:0}.input-group .has-float-label:not(:first-child) .form-control{border-bottom-left-radius:0;border-top-left-radius:0;margin-left:-1px}
@media only screen and (max-width:400px){
    .btn-primary{
        font-size:13px !important;
}
    span#SetExtraText::before{
        content: "\a" !important;
    white-space: pre !important;
    }
  .heightbg{
      min-height:155px!important;
  }
    a.nav-link{
        font-size:13px;
    }
}
    .mar-top10 {
        margin-top: 10px;
    }

    .float-right1 {
        float: right;
    }

    .float-left1 {
        float: left;
    }

    @media only screen and (max-width:400px) {
           .mar-top10 {
        margin-top: 0px;
    }
        .float-left1 {
            float: none;
        }

        .float-right1 {
            float: none;
        }
        .font-sizesmall {
            font-size: 14px;
        }
        .desktopview {
            display: none;
        }

        .mobileview {
            display: block;
        }

        .mar-topmbl {
            margin-top: 62px;
        }

        .positionmbl {
            position: absolute;
            top: 128px;
            width: 93%;
        }
        .pabsolute{
            position:absolute;
        }
        .marleft165{
            margin-left:165px;
        }
         .p-5{
            padding:0.5rem !important;
        }
    }

 /*https://www.npmjs.com/package/bootstrap-float-label*/